

@-moz-keyframes jiggle {
  0% {
      -moz-transform: rotate(80deg);
  }
  50% {
      -moz-transform: rotate(100deg);
  }
}

@-webkit-keyframes jiggle {
  0% {
      -webkit-transform: rotate(80deg);
      }
  50% {
      -webkit-transform: rotate(100deg);
  }
}